@charset "UTF-8";

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icon;
  font-display: swap;
  src: url("../fonts/icon.woff2") format("woff2"), url("../fonts/icon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon.woff2") format("woff2"), url("../fonts/icon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-arrow-more:before {
  content: "\e902";
}

/*========================Обнуление========================*/

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=========================================================*/

html,
body {
  font-family: "WorkSans";
  font-size: 16px;
  color: #1a1a27;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

section {
  overflow: hidden;
}

section:not(:first-child) {
  margin: 130px 0;
}

section:first-child {
  margin-bottom: 130px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 130%;
}

h1 {
  font-size: 2.625rem;
  color: #ffffff;
  margin: 0px 0px 24px 0px;
}

h2 {
  font-size: 2rem;
  margin: 0px 0px 32px 0px;
}

h3 {
  font-size: 1.5rem;
  margin: 0px 0px 15px 0px;
}

h4 {
  font-size: 20px;
  line-height: 150%;
  margin: 0px 0px 9px 0px;
}

h5 {
  font-size: 16px;
  line-height: 140%;
  margin: 0px 0px 12px 0px;
}

p {
  line-height: 139%;
  letter-spacing: -0.02px;
}

p + p {
  margin-top: 34px;
}

a {
  color: #3216e2;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn {
  background: #20b18d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  color: #fff;
}

.btn_border {
  background: #fff;
  border: 1px solid #20b18d;
  color: #1a1a27;
}

.btn_border:hover {
  border-color: #159172;
}

.btn:hover {
  background: #159172;
  color: #fff;
}

.more {
  text-decoration: none;
  color: #624de3;
  font-weight: 700;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin: 33px 0px 0px 0px;
}

.more span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 0.6875rem;
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0px 0px 0px;
}

.article-info a {
  padding: 0px 14px 0px 0px;
  position: relative;
  color: #3216e2;
}

.article-info a::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #3216e2;
  border-radius: 50%;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.article-info p {
  color: #1a1a27;
}

.site-header {
  background-color: #1a1a27;
  color: #fff;
  position: relative;
  z-index: 1002 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.site-header a {
  color: inherit;
  text-decoration: none;
}

.site-header .desktop-hidden {
  display: none;
}

.site-header__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0px 0 33px;
  margin: 0 0px 0 30px;
}

.site-header__advantages::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 1px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.site-header__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

.site-header__advantage img {
  max-width: 24px;
  max-height: 24px;
}

.site-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 0;
}

.site-header__bottom {
  padding: 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__search {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

.site-header__search .form {
  width: 100%;
  margin: 0;
}

.site-header__search .form button {
  background: none;
  margin: 0;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  padding: 0;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.site-header__search .form button span {
  font-size: 1.125rem;
}

.site-header__search .form__input {
  padding: 14px 14px 14px 52px !important;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.4);
}

.site-header__search .form__item.focus + button {
  opacity: 0.4;
  color: #1a1a27;
}

.site-header__user-mobile {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 16px 14px;
  margin: 0px 0px 30px 0px;
  border-bottom: 2px solid #000000;
}

.site-header__user-mobile > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.site-header__user-mobile > ul li:not(:last-child) {
  margin-right: 24px;
}

.site-header__user-mobile > ul li a {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: underline;
}

.site-header__question {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: -2px 0px 0px 0px;
}

.site-header__question svg {
  width: 100%;
  height: 100%;
}

.site-header__question rect,
.site-header__question path {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.site-header__question:hover rect {
  fill: #20b18d;
}

.site-header__question:hover path {
  fill: #fff;
}

.is-sticky .site-header {
  z-index: 1002 !important;
}

.site-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  max-width: 189.54px;
}

.burger-menu {
  background: none;
  border-radius: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
  margin: 0px 0px 0px 32px;
}

.burger-menu span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu .close {
  opacity: 0;
  visibility: hidden;
}

.burger-menu .open {
  opacity: 1;
  visibility: visible;
}

.burger-menu.is-open .close {
  opacity: 1;
  visibility: visible;
}

.burger-menu.is-open .open {
  opacity: 0;
  visibility: hidden;
}

.user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 auto;
}

.user-panel__links {
  margin: 0px 32px 0px 0px;
  padding: 0px 31px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.user-panel__links::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  width: 1px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.user-panel__links a {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.user-panel__links a:hover {
  text-decoration: underline !important;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__list > li {
  margin-left: 48.8px;
}

.menu__list > li:first-child {
  margin-left: 0;
}

.menu__list > li > a {
  display: block;
  padding: 14px 0;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__list > li.dropdown::before {
  content: "";
  display: block;
  width: 150%;
  height: 10px;
  position: absolute;
  bottom: -5px;
}

.menu__list a:hover {
  color: #20b18d;
}

.menu__list .hidden-desktop {
  display: none;
}

.menu__list .sub-menu {
  visibility: hidden;
  opacity: 0;
  margin-top: -10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 233px;
  background-color: #1a1a27;
  padding: 20px;
  border-top: 3px solid #20b18d;
  -webkit-box-shadow: 0 10px 20px rgba(55, 59, 60, 0.2);
  box-shadow: 0 10px 20px rgba(55, 59, 60, 0.2);
  border-radius: 0 0 10px 10px;
  list-style: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.menu__list .sub-menu a {
  display: block;
  padding: 4px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__list .dropdown {
  position: relative;
}

.menu__list .dropdown .open-sub {
  display: none;
}

.menu__list .dropdown:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  pointer-events: all;
}

.dropdown a svg {
  margin-left: 10px;
}

.lang {
  margin-left: 32px;
  position: relative;
}

.lang-current {
  cursor: pointer;
  min-width: 75px;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: #38384a;
}

.lang-current svg {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.lang-select {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 18px;
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #38384a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  z-index: 15;
}

.lang-select li {
  margin-top: 15px;
}

.lang-select li:first-child {
  margin-top: 0;
}

.lang-select a {
  display: block;
  color: #fff;
  text-decoration: none !important;
}

.lang-select a:hover {
  color: #20b18d;
}

.lang.is-open .lang-current svg {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.lang.is-open .lang-select {
  visibility: visible;
  opacity: 1;
  margin-top: 8px;
}

.notifications {
  position: relative;
}

.notifications::before {
  content: "";
  position: absolute;
  width: 469px;
  height: 44px;
  right: -107px;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  visibility: hidden;
}

.notifications__icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
}

.notifications__icon.active::after {
  opacity: 1;
  visibility: visible;
}

.notifications__icon::after {
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  right: 1px;
  width: 6px;
  height: 6px;
  background: #ef344a;
  border: 2.5px solid #1a1a27;
  opacity: 0;
  visibility: hidden;
}

.notifications__close {
  width: 30px;
  height: 30px;
  background: #f1f1f2;
  border-radius: 100px;
  position: absolute;
  top: 17px;
  right: 16px;
}

.notifications__close span {
  position: absolute;
  width: 14px;
  height: 2.5px;
  background: #76767d;
  border-radius: 30px;
  left: 50%;
}

.notifications__close span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(45deg) translate(-64%, 0);
      -ms-transform: rotate(45deg) translate(-64%, 0);
          transform: rotate(45deg) translate(-64%, 0);
}

.notifications__close span:nth-child(2) {
  bottom: 20.8px;
  -webkit-transform: rotate(-45deg) translate(-69%, 0);
      -ms-transform: rotate(-45deg) translate(-69%, 0);
          transform: rotate(-45deg) translate(-69%, 0);
}

.notifications__body {
  position: absolute;
  top: 44px;
  right: -107px;
  width: 469px;
  max-height: 454px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 19px 24px 24px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ededee #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  z-index: 100;
}

.notifications__body.visible {
  opacity: 1;
  visibility: visible;
}

.notifications__body::-webkit-scrollbar {
  width: 4px;
}

.notifications__body::-webkit-scrollbar-thumb {
  background: #ededee;
  border-radius: 100px;
}

.notifications__title {
  display: block;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  color: #1a1a27;
  margin: 0px 0px 16px -4px;
}

.notifications__more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  color: #624de3;
  background: none;
  margin: 0px 0px 0px -3px;
}

.notifications__list li {
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #e6e6f2;
}

.notifications-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications-article__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 137px;
          flex: 0 0 137px;
}

.notifications-article__img img {
  border-radius: 8px;
}

.notifications-article__content h5 > a {
  color: #1a1a27;
}

.notifications-article__content h5:hover {
  text-decoration: underline;
}

.notifications-article__content .article-info {
  margin: 10px 0px 2px 0px;
}

.notifications-article__content .article-info a {
  color: #3216e2;
  text-decoration: underline;
}

.notifications-article__content .article-info a:hover {
  text-decoration: none;
}

.gifts {
  position: relative;
  margin: 0 31px 0 0;
}

.gifts::before {
  content: "";
  position: absolute;
  width: 469px;
  height: 56px;
  right: -107px;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  visibility: hidden;
}

.gifts__close {
  width: 30px;
  height: 30px;
  background: #f1f1f2;
  border-radius: 100px;
  position: absolute;
  top: 17px;
  right: 16px;
}

.gifts__close span {
  position: absolute;
  width: 14px;
  height: 2.5px;
  background: #76767d;
  border-radius: 30px;
  left: 50%;
}

.gifts__close span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(45deg) translate(-64%, 0);
      -ms-transform: rotate(45deg) translate(-64%, 0);
          transform: rotate(45deg) translate(-64%, 0);
}

.gifts__close span:nth-child(2) {
  bottom: 20.8px;
  -webkit-transform: rotate(-45deg) translate(-69%, 0);
      -ms-transform: rotate(-45deg) translate(-69%, 0);
          transform: rotate(-45deg) translate(-69%, 0);
}

.gifts__title {
  display: block;
  color: #1a1a27;
  font-size: 1.25rem;
  line-height: 150%;
  margin: 0px 0px 14px 0px;
}

.gifts__icon {
  position: relative;
  cursor: pointer;
  padding: 0px 31px 0px 0px;
}

.gifts__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  width: 1px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.gifts__count {
  position: absolute;
  bottom: -6px;
  right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.5px 5px;
  background: #20b18d;
  border: 2px solid #1a1a27;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 150%;
  pointer-events: none;
}

.gifts__body {
  z-index: 100;
  position: absolute;
  top: 56px;
  right: -128px;
  width: 409px;
  max-height: 454px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ededee #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.gifts__body.visible {
  opacity: 1;
  visibility: visible;
}

.form {
  margin: 48px 0px 0px 0px;
  position: relative;
}

.form button {
  padding: 13px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.form__item.focus input {
  border-radius: 10px 10px 0px 0px !important;
}

.form__item_search.focus input {
  border-radius: 10px 10px 0px 0px !important;
}

.form__item_search.focus::before {
  color: #1a1a27;
}

.form__item_search::before {
  content: "\e900";
  position: absolute;
  z-index: 100;
  top: 23px;
  left: 27.25px;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  pointer-events: none;
  color: #fff;
  opacity: 0.4;
}

.form__input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background: #ffffff;
}

.form__input_transparent {
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.5);
}

.form__input[type=search] {
  padding-right: 105px;
  padding-left: 60px;
}

.form__input:focus {
  background: #fff !important;
  color: #1a1a27 !important;
}

.form__undertext {
  margin: 22.8px 0px 0px 0px;
  font-size: 0.875rem;
  line-height: 140%;
  color: #fff;
  opacity: 0.6;
}

input {
  font-family: "WorkSans";
  padding: 20px 24px;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  line-height: 140%;
}

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  border-top: 1px solid #e6e6f2;
}

.search-dropdown {
  top: 98%;
  width: 100%;
  max-height: 310px;
  overflow: auto;
}

.search-dropdown__item {
  width: 100%;
  display: block;
  padding: 14px 24px;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #1a1a27;
}

.search-dropdown__item:last-child {
  border-radius: 0px 0px 10px 10px;
}

.search-dropdown__item span {
  font-weight: 700;
}

.search-dropdown__item:hover {
  background: #f4f2fd;
}

.pagination {
  margin: 59px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li:first-child a span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.pagination li:last-child a span {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.pagination li.current {
  pointer-events: none;
}

.pagination li.current a {
  background: -o-linear-gradient(349.18deg, #3c2e92 1%, #4c3bbd 100%);
  background: linear-gradient(100.82deg, #3c2e92 1%, #4c3bbd 100%);
  color: #fff;
  border-color: #4c3bbd;
}

.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #e7e5ea;
  border-radius: 50%;
  line-height: 140%;
  color: #171a22;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.pagination li a:hover {
  border-color: #3c2e92;
  color: #3c2e92;
}

.pagination__arrow {
  font-size: 0.375rem;
}

.search-panel {
  padding: 7px 0;
  background: #1a1a27;
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.search-panel__body {
  position: relative;
}

.search-panel.open {
  opacity: 1;
  visibility: visible;
}

.search-panel.focus .search-panel__close span {
  opacity: 1;
  background: #1a1a27;
}

.search-panel .form {
  margin: 0;
}

.search-panel .form button {
  background: none;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  padding: 0;
  width: 24px;
  height: 24px;
  left: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.search-panel .form__input {
  padding: 13px 60px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.4);
}

.search-panel .form__item.focus + button {
  opacity: 0.4;
  color: #1a1a27;
}

.search-panel__close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.search-panel__close span {
  border-radius: 30px;
  width: 16px;
  height: 2px;
  position: absolute;
  background: #919197;
  left: 50%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.search-panel__close span:nth-child(1) {
  top: 21px;
  -webkit-transform: rotate(45deg) translate(-50%, 0);
      -ms-transform: rotate(45deg) translate(-50%, 0);
          transform: rotate(45deg) translate(-50%, 0);
}

.search-panel__close span:nth-child(2) {
  bottom: 20.5px;
  -webkit-transform: rotate(-45deg) translate(-50%, 0);
      -ms-transform: rotate(-45deg) translate(-50%, 0);
          transform: rotate(-45deg) translate(-50%, 0);
}

.side-casino {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 19px 0px;
}

.side-casino_gift {
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 15px 0px;
}

.side-casino_gift:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.side-casino_gift .side-casino__bonus {
  color: #624de3;
}

.side-casino__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.side-casino__bonus {
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
}

.side-casino__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78px;
          flex: 0 0 78px;
  background: #20b18d;
  border: 1px solid #20b18d;
  border-radius: 10px;
}

.side-casino__btn:hover {
  border-color: #159172;
}

.side-casino__btn span {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fff;
  font-size: 0.375rem;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-result {
  background: #f4f2fd;
  padding: 86px 0;
  margin: 0 !important;
}

.search-result__body {
  padding: 0 193px;
}

.search-result__body .form {
  margin: 0px 0px 50px 0px;
}

.search-result__body .form .form__item::before {
  color: #1a1a27;
}

.search-result__count {
  text-align: center;
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: -0.1px;
}

.search-articles {
  margin: 63px 0 !important;
}

.search-articles__wrapper {
  padding: 0px 400px 0px 0px;
}

.search-articles__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48.5px;
}

.search-articles__body article a {
  text-decoration: none;
  color: #1a1a27;
}

.search-articles__body article a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .notifications__close {
    display: none;
  }

  .notifications__list li.hidden {
    height: 0;
    overflow: hidden;
    will-change: height;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .notifications__list li.hidden:not(.is-expanded) {
    margin: 0;
    padding: 0;
    border: none;
  }

  .gifts__close {
    display: none;
  }

  .gifts__title {
    display: none;
  }
}

@media (min-width: 1200px) {
  .site-header__search .form {
    display: none;
  }

  .site-header__user-mobile {
    display: none;
  }
}

@media (max-width: 1310px) {
  .notifications::before {
    right: 0;
  }

  .notifications__body {
    right: 0;
  }

  .gifts::before {
    right: 0;
  }

  .gifts__body {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .notifications-article__content .article-info {
    gap: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .notifications-article__content .article-info a {
    padding: 0;
  }

  .notifications-article__content .article-info a::after {
    display: none;
  }

  .user-panel__links {
    display: none;
  }

  .gifts__body {
    right: 0;
  }

  .notifications__body {
    right: 0;
  }

  .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }

  .menu__list {
    display: block;
    z-index: 11;
    position: relative;
  }

  .menu__list > li.dropdown::before {
    display: none;
  }

  .menu__list .hidden-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 20px;
    border-bottom: 2px solid #000000;
  }

  .menu__list .hidden-desktop > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }

  .menu__list .hidden-desktop > ul li:not(:last-child) {
    margin-right: 24px;
  }

  .menu__list .hidden-desktop > ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: underline;
  }

  .menu__list > li {
    margin-left: 0;
  }

  .menu__list > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 15px 17px;
    font-size: 18px;
    font-weight: 500;
  }

  .menu__list .dropdown > a {
    position: relative;
  }

  .menu__list .dropdown .open-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 60px;
    text-align: right;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .menu__list .dropdown .open-sub svg {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .menu__list .dropdown.is-open > a {
    color: #20b18d;
  }

  .menu__list .dropdown.is-open > a svg {
    fill: #20b18d;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
  }

  .menu__list .sub-menu {
    margin-top: 0 !important;
    visibility: visible;
    opacity: 1;
    position: static;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    padding: 0 0 0 40px;
    max-height: 0;
    overflow: hidden;
  }

  .menu__list .sub-menu a {
    padding: 10px 0;
    font-size: 16px;
  }

  .menu__list .sub-menu.is-open {
    max-height: auto;
    padding-bottom: 10px;
  }

  .site-header .desktop-hidden {
    display: block;
    margin-left: auto;
    margin-right: 32px;
  }

  .site-header .mobile-hidden {
    display: none;
  }

  .site-header__top {
    padding: 17px 0 14px;
  }

  .site-header__bottom {
    background-color: #1a1a27;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0px 0px 30px 0px;
    visibility: hidden;
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
        transform: translateY(-100vh);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .site-header__bottom.is-open {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
        transform: translateY(-1px);
    visibility: visible;
    height: calc(100vh - 67px);
    overflow-y: auto;
  }

  .site-header__search {
    padding: 0 16px;
    margin: 0px 0px 14px 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: unset;
  }

  .site-header__search > span {
    display: none;
  }

  .site-header__advantages {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .blackout {
    background: rgba(26, 26, 39, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .search-panel {
    padding: 0;
  }

  .search-panel .container {
    padding: 0;
  }

  .search-panel .form button {
    color: #1a1a27;
    opacity: 0.4;
    left: 16px;
    font-size: 1.125rem;
  }

  .search-panel .form__input {
    background: #fff;
    border-radius: 0 !important;
    padding: 13px 54px 14px 52px;
  }

  .search-panel .form__item.focus input {
    border-radius: 0 !important;
  }

  .search-panel .form__item .search-dropdown__item {
    border-radius: 0;
  }

  .search-panel__close {
    width: 30px;
    height: 30px;
    background: #f1f1f2;
    border-radius: 50%;
    right: 16px;
  }

  .search-panel__close span {
    position: absolute;
    width: 14px;
    height: 2.5px;
    background: #76767d;
    border-radius: 30px;
    left: 50%;
  }

  .search-panel__close span:nth-child(1) {
    top: 21px;
    -webkit-transform: rotate(45deg) translate(-64%, 0);
        -ms-transform: rotate(45deg) translate(-64%, 0);
            transform: rotate(45deg) translate(-64%, 0);
  }

  .search-panel__close span:nth-child(2) {
    bottom: 19.4px;
    -webkit-transform: rotate(-45deg) translate(-69%, 0);
        -ms-transform: rotate(-45deg) translate(-69%, 0);
            transform: rotate(-45deg) translate(-69%, 0);
  }

  .search-articles__wrapper {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .form button {
    position: static;
    margin: 17px 0px 0px 0px;
    width: 100%;
    padding: 14px 16px;
  }

  .form__input[type=search] {
    padding-right: 24px;
  }

  .form__undertext {
    margin: 36px 0px 0px 0px;
  }

  .side-casino--top3 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .search-result__body {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  section:not(:first-child) {
    margin: 80px 0;
  }

  section:first-child {
    margin-bottom: 80px;
  }

  h1 {
    font-size: 2rem;
    margin: 0px 0px 16px 0px;
  }

  h1 br {
    display: none;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0px 0px 31px 0px;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 130%;
    margin: 0px 0px 11px 0px;
  }

  p {
    line-height: 138%;
  }

  .notifications {
    position: static;
  }

  .notifications::before {
    display: none;
  }

  .notifications__body {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
    width: 100vw;
    border-radius: 0;
    padding: 17px 16px;
    max-height: 478px;
  }

  .notifications__title {
    text-align: left;
    margin: 0px 0px 15px 0px;
  }

  .notifications__more {
    display: none;
  }

  .notifications__list li {
    margin: 0px 0px 17px 0px;
  }

  .notifications__list li:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }

  .notifications-article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }

  .notifications-article__content .article-info {
    margin: 15px 0px 0px 0px;
  }

  .gifts {
    position: static;
  }

  .gifts::before {
    display: none;
  }

  .gifts__body {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
    width: 100vw;
    border-radius: 0;
    padding: 17px 16px;
    max-height: 478px;
  }

  .form {
    margin: 32px 0px 0px 0px;
  }

  .form__item_search::before {
    top: 16px;
  }

  input {
    padding: 13px 24px;
  }

  .search-dropdown {
    max-height: 448px;
  }

  .pagination li:first-child {
    margin-right: auto;
  }

  .pagination li:last-child {
    margin-left: auto;
  }

  .pagination li:nth-child(5) {
    display: none;
  }

  .side-casino_gift {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #e6e6f2;
  }

  .side-casino_gift .side-casino__bonus {
    font-size: 1.125rem;
  }

  .side-casino_gift .side-casino__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px;
  }

  .side-casino_gift .side-casino__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85px;
            flex: 0 0 85px;
  }

  .side-casino__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 93px;
            flex: 0 0 93px;
  }

  .side-casino__bonus {
    font-size: 1rem;
    line-height: 140%;
  }

  .side-casino__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 61px;
            flex: 0 0 61px;
  }

  .search-result {
    padding: 64px 0;
  }

  .search-result__body {
    padding: 0;
  }

  .search-result__body .form {
    margin: 0px 0px 32px 0px;
  }

  .search-result__count {
    text-align: left;
  }

  .search-articles__body {
    gap: 48.3px;
  }
}

@media (max-width: 576px) {
  .site-header .container {
    position: relative;
  }

  .logo {
    maw-width: 154px;
  }

  .lang-current {
    font-size: 0.875rem;
    line-height: 150%;
    padding: 8px 12px 11px;
  }

  .lang-current svg {
    right: 12px;
  }

  .gifts {
    margin: 0 24px 0 0;
  }

  .gifts__icon {
    padding: 0 22px 0 0;
  }

  .gifts__count {
    right: 18px;
  }
}

@media (any-hover: hover) {
  .notifications:hover .notifications__body {
    opacity: 1;
    visibility: visible;
  }

  .notifications:hover::before {
    visibility: visible;
  }

  .gifts:hover .gifts__body {
    opacity: 1;
    visibility: visible;
  }

  .gifts:hover::before {
    visibility: visible;
  }
}